@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');




* {
box-sizing:border-box;
margin:0;
padding:0;
}

html {
background: url(./Images/background.jpg);
background-size:cover;
background-repeat:no-repeat;
min-height: 100%;
}

.container {
display: flex;
align-items: center;
justify-content: center;
height: 75vh;
margin-top: 50px;


}

.display {
padding: 10px 20px;
border: 4px solid;
border-radius: 5px;
margin-bottom: 20px;
background-color: var(--screen);
text-align: right;
word-wrap: break-word;
word-break: break-all;
background-color: lightcoral;
}

#currentCalc, #previousCalc {
font-family: 'Orbitron', sans-serif;
}

.calculator {
border: 5px solid;
border-radius: 15px;
border-color:brown;
padding:15px;

}

#error-message {
font-family: 'Comfortaa', sans-serif;
font-weight: 700;
font-size: 16px;
color: rgb(0, 0, 0); /* Set the text color for the error message */
/* padding: 5px; Add padding to the error message */
display:flex;
justify-content:center;
min-height: 32px;
}

.upperPart {
min-height: 32px;
font-size: 20px;
}

.lowerPart {
min-height: 64px;
font-size:40px;
}

.buttons_layout{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 15px;
}

.btn {
padding: 9px;
border-radius: 7px;
font-size: 25px;
font-family: 'Bahiana', sans-serif;
font-weight:500;
border-color:brown;

}

.btn:hover {
background-color:#99e;
}

.span-1 {
grid-column: span 3;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  padding-top: 20px;
  font-family:'Comfortaa', sans-serif;
}

.copyright {
  color: #5a3707;
  font-weight: 600;
}

.copyright a {
  color: #030809;
  text-decoration: none;
}

.copyright a:hover {
  color: #1d2d44;
  text-decoration: underline;
  text-decoration-color: #F45B69;
  text-decoration-thickness: 2px;
}